        <div class="content-wrapper" style="margin-left: 0px;">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>${searched share}</h1>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>
      
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-8">
                  <!-- AREA CHART -->
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Area Chart</h3>
                    </div>
                    <div class="card-body">
                      <div class="chart">
                        <canvas id="areaChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col (LEFT) -->
                <div class="col-md-4">
                  <!-- general form elements -->
                  <div class="card card-primary" style="min-height: 335px;">
                    <div class="card-header">
                      <h3 class="card-title">Share price</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="noOfShares">Shares</label>
                              <input type="number" class="form-control" id="noOfShares" placeholder="Shares">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="sharePrise">Price</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" id="price">
                                <!-- <div class="input-group-append">
                                  <span class="input-group-text">.00</span>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="shareCost">Cost</label>
                              <div class="input-group">
                                <div class="custom-file">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" class="form-control" id="cost">
                                    <!-- <div class="input-group-append">
                                      <span class="input-group-text">.00</span>
                                    </div> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="text-align: center;">
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" id="buyBtn" style="min-width: 60%;">Buy</button>
                          </div>
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" id="sellBtn" style="min-width: 60%;">Sell</button>
                          </div>
                        </div>
                      <!-- /.card-body -->
                    </form>
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col (RIGHT) -->
              </div>
              <!-- /.row -->
            </div><!-- /.container-fluid -->
          </section>
          <!-- /.content -->
        </div>
